*,
::after,
::before {
  box-sizing: border-box
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  font-family: Arial,Helvetica,sans-serif
}
.container {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 20px
}
.art6_block_etapy_biznes_plana {
  padding: 72px 0
}
.art6_block_etapy_biznes_plana *,
.art6_block_etapy_biznes_plana ::after,
.art6_block_etapy_biznes_plana ::before {
  box-sizing: border-box
}
.art6_block_etapy_biznes_plana li,
.art6_block_etapy_biznes_plana ul {
  list-style: none;
  padding: 0
}
.art6_block_etapy_biznes_plana li {
  list-style: none;
  margin: 0;
  padding: 0
}
@media (max-width:767px) {
  .art6_block_etapy_biznes_plana {
    padding: 40px 0
  }
}
.art6_block_etapy_biznes_plana__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 122%;
  text-align: center;
  color: #000
}
@media (max-width:767px) {
  .art6_block_etapy_biznes_plana__title {
    font-size: 28px
  }
}
.art6_block_etapy_biznes_plana__list {
  display: grid;
  grid-template-columns: repeat(4,274px);
  gap: 43px 20px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 40px 0;
  counter-reset: step 0
}
@media (max-width:1300px) {
  .art6_block_etapy_biznes_plana__list {
    grid-template-columns: repeat(3,274px)
  }
}
@media (max-width:991px) {
  .art6_block_etapy_biznes_plana__list {
    grid-template-columns: repeat(2,274px)
  }
}
@media (max-width:767px) {
  .art6_block_etapy_biznes_plana__list {
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    max-width: 568px;
    margin: 0 auto 40px
  }
}
.art6_block_etapy_biznes_plana__step {
  position: relative;
  counter-increment: step 1
}
.art6_block_etapy_biznes_plana__step::before {
  content: counter(step);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 140px;
  line-height: 122%;
  color: rgba(125,165,67,.1)
}
@media (max-width:767px) {
  .art6_block_etapy_biznes_plana__step::before {
    font-size: 110px
  }
}
.art6_block_etapy_biznes_plana__top {
  margin-bottom: 14px;
  padding-top: 32px;
  padding-left: 43px
}
@media (max-width:767px) {
  .art6_block_etapy_biznes_plana__top {
    margin-bottom: 10px;
    padding-top: 28px;
    padding-left: 30px
  }
}
.art6_block_etapy_biznes_plana__icon {
  width: 69px;
  height: 69px
}
.art6_block_etapy_biznes_plana__icon img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
@media (max-width:767px) {
  .art6_block_etapy_biznes_plana__icon {
    width: 56px;
    height: 56px
  }
}
.art6_block_etapy_biznes_plana__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 122%;
  color: #000
}
@media (max-width:767px) {
  .art6_block_etapy_biznes_plana__name {
    font-size: 18px
  }
}
@media (max-width:575px) {
  .art6_block_etapy_biznes_plana__name {
    font-size: 16px
  }
}
.art6_block_etapy_biznes_plana__bg img {
  display: block;
  width: 100%;
  height: auto
}
@media (max-width:1300px) {
  .art6_block_etapy_biznes_plana__bg {
    max-width: 862px;
    margin: 0 auto
  }
}
@media (max-width:991px) {
  .art6_block_etapy_biznes_plana__bg {
    max-width: 568px
  }
}
/*# sourceMappingURL=maps/main.css.map */
